.footer{
    display: flex;
    align-items:flex-end;
    width: 100vw;
    height: 100vh;
}
.rodape{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 65vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 69, 69);

}
.logos{
    width: 100px;
    height: 100px;
    margin: 0 10px 0 50px;

}
a{
    margin: 0;
}
#spanFinal{
    
    font-size: 21px;
    margin-top: 50px;
    color: white;
}
