.sobremim{
    width:100vw;
    height: 400px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container_sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.sobre_mim{
    width: 350px;
    height: 350px;
    display: flex;
   align-items: center;
    justify-content: center;
   
   
}
.txt{
    color: white;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.txt p{
    text-align: center;

}
.txt p:last-child{
    font-weight: normal;
    text-align: normal;
    
}
.study{
    color: #288ff7;
    text-decoration: solid;
    font-weight: bolder;
    margin-bottom: 5px;
}

@media (max-width: 450px){
    .txt p{
        display: flex;
        font-size: 15px;
    }
    .txt{
        color: white;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .sobre_mim{
        width: 300px;
        height: 300px;
        display: flex;
       
        justify-content: center;
       
       
    }
}
