
.cabecalho {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.foto{
  
  
  height: 328px;
  width: 328px;
  
}


#cartaovisita {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 37vh;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.face {
  overflow: hidden;
  width: 328px;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
 
  border-radius: 100%;
}

.flip {
  transform: rotateY(180deg);
}

#front {
  background-color: rgb(252, 252, 252);
  transform: rotateY(180deg);
}

#back {
  
  
  background-color: #bccfd1;
}
#card {
  display: flex;
  justify-content: center;
  margin-left: 149px;
  transform-style: preserve-3d;
  transition: all 0.7s;
}
#barra {
  background-color: rgba(255, 255, 255, 0.671);
  display: flex;
  overflow: hidden;
  width: 1400px;
  height: 328px;
  border-radius: 200px 200px 200px 200px;
}
h4{
  margin: 0;
}
#telefone{
  margin-bottom: 10px;
}
#intro{
  font-size: 14px;
  text-align:center;
}