
.cabecalho {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
 
}

#tituloContato{
  display: flex;
  background-color: #edf2f2;
  position: relative;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}
#TopicoContato{
font-size: 42px;
color: #288ff7;
}
.GradienteSubli{
  background-image: linear-gradient(90deg,rgb(0, 0, 255),rgb(0, 235, 252));
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 500ms ease;
  background-size: 0% 3px;
  cursor: pointer;
  font-weight: 900;
}

.GradienteSubli:hover{
  background-size: 100% 3px;

}


#barra {
  background-color: #edf2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 40vh;
}
.paredebranca{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 252, 252);
  width: 220px;
  height: 220px;
  border-radius: 25px 25px 25px 25px;
}
.paredefundo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8bc5ff;
  width: 225px;
  height: 225px;
  border-radius: 25px 25px 25px 25px;
  border: solid;
  border-color: #7cbeff;
}
.face {

  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 1.5s;
 

}
.alinha{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 250px;
  justify-content: space-between;


}
a{
  text-decoration: none;
  color: black;
}


.flip { 
  transform: rotateY(180deg);
}
#front{
  z-index: 1;
  transform: rotateY(180deg);
  
}
#back{
  opacity: 0;
  z-index: -1;
}
#back1{
  opacity: 0;
  z-index: -1;
}
#back2{
  opacity: 0;
  z-index: -1;
}
#back3{
  opacity: 0;
  z-index: -1;
}
p{
 margin: 0;
 font-weight: bold;
}
.p1{
  margin: 10px 0px 0px  0px;
}

.icone{
  cursor: pointer;
  width: 225px;
  height: 225px;
}

.icone_back{
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  width: 125px;
  height: 125px;

}
#card {
  display: flex;
  justify-content: center;
  margin-left: 450px;
  transform-style: preserve-3d;
  transition: all 0.7s;
}
#card1 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 0.7s;
}
#card2 {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all 0.7s;
}
#card3 {
  display: flex;
  justify-content: center;
  margin-right: 450px;
  transform-style: preserve-3d;
  transition: all 0.7s;
}

h4{
  margin: 0;
}
#telefone{
  margin-bottom: 10px;
}


@media  (max-width: 1599px) {
  #card {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
  #card3 {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
 
}
@media  (max-width: 1299px) {
  #card {
    display: flex;
    justify-content: center;
    margin-left: 125px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
  #card3 {
    display: flex;
    justify-content: center;
    margin-right: 125px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
 
}
@media  (max-width: 999px) {
  



}
@media  (max-width: 800px ) or (max-height: 700px) {
  .cabecalho {
    height: 500px;
    z-index: -5;
    
  }
  #tituloContato{
    height: 50px;

  }
  #barra{
    height: 450px;
  } 
  .alinha{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  #card {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
  #card1 {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
  #card2 {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }
  #card3 {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    transform-style: preserve-3d;
    transition: all 0.7s;
  }

}
@media  (max-height: 700px){
 



}