
.Intro{
  display: flex;
  height: 65vmin;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  position: relative;
  
}
.alinha_Intro{
  position: relative;
  width: 50vw;
  height: 100%;

}
.foto_perfil{
  width: 35vmin;
  height: 35vmin;
  background-color: beige;
  border-radius: 20px 20px 20px 20px;
 
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #252525;
  font-family: Roboto, Arial, sans-serif;
  height: 50vmin;
  /* left: 50%; */
  position: absolute;
  
  top: 50%;
  transform: translateY(-50%);
  width: 65vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 7vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}




#tituloContato{
  display: flex;
  background-color: #edf2f2;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75px;
}
#TopicoContato{
font-size: 40px;
color: #288ff7;
}
.GradienteSubli{
  cursor: pointer;
  position: relative;
  color: #288ff7;
  text-decoration: none;
}

.GradienteSubli:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #288ff7;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.GradienteSubli:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.txt_cont{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.imagem_perfil{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 200px;
  justify-content: center;
  align-content: center;
}

a{
  text-decoration: none;
  color: black;
}

p{
 margin: 0;
 font-weight: bold;
}

