.Tec{
  display: flex;
  flex-direction: column;
  background-color:#252525;
  width: 100vw;
  height: 550px;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.carousel{
  display: flex;
  width: 50vw;
  height: 400px;
  margin: auto;
  justify-content: center;
  
}
.carousel:last-child{
  margin-bottom: 75px;
}
#tituloTec{
  display: flex;
  background-color: #252525;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
}
.carousel ul{

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.carousel li{
  justify-content: center;
  margin: 0px 15px;
  height: 125px;
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  transition: color 0.7s ease;
  color:  #252525;
  cursor: pointer;
  }
  .carousel li:hover{
    color: #288ff7
  }

.carousel img{
  width: 80px;
  height: 80px;
}

.carousel p{
  font-size: 16px;
  font-weight: normal;
}


@media  (max-width: 999px) {
  .Tec{
    display: flex;
    flex-direction: column;
    background-color:#252525;
    width: 100vw;
    height: 700px;
    gap: 25px;
  }
  
  .carousel{
    width: 70vw;
    height: 550px;
    margin: auto;
    justify-content: center;
    
    
  }
  .carousel p{
    font-size: 14px;
    font-weight: normal;
  }


}
@media  (max-width: 499px){
  .Tec{
    display: flex;
    flex-direction: column;
    background-color:#252525;
    width: 100vw;
    height: 950px;
    gap: 25px;
  }
  
  .carousel{
    width: 75vw;
    height: 800px;
    margin: auto;
    justify-content: center;
    
    
  }
  .carousel p{
    font-size: 14px;
    font-weight: normal;
  }
}