.containerNav{
   
    background-color: #252525;
    width: 100vw;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
    border-bottom: solid;
    border-color: #288ff7;
    border-width: 7px;
    
}
li a{
    color: white;
}

.containerList{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-right: 24px;
    transition: transform 0.4s ease-in;
    
}
.containerLogo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 15px;

}
.containerLogo img{

    height: 100px;
    width: 110px;
    
  }
.h1Name{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 26px;
    
}
.containerList li a{
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 32px;
   
}

.mobile-menu{
  display: none;
  cursor: pointer;
  margin-left: 5px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #58585886;
  
}
.containerList li a:hover{
    transition: 0.5s ease-in;
    color: #288ff7;

}


@media  (max-width: 999px) {
    .containerNav{
        justify-content: center;
    }

    .containerList li{
        color: rgb(0, 0, 0);
        cursor: pointer;
        letter-spacing: 3px;
        margin-left: 0px;
       
    }

    .containerList{
        position: absolute;
        z-index: 5;
        top: -14vh;
        right: 0;
        width: 100vw;
        height: 14vh;
        background-color:#70e8f863;
        margin: 0;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.1;
        transition: 0.5s ease-in;
        
    }
    .containerList.active{
        
        transform: translateY(26vh);
        opacity: 1;
    }
    .mobile-menu{
        display: block;
    }
    
}